# Virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code
.vscode/

# OS files
.DS_Store

# Large/data files
data/
*.zip
*.tar
*.csv
*.npy
*.pkl

# Results
*.png
*.jpg
*.jpeg
*.pdf